# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
.env
.env.*

# Docker
*.pid
*.log
docker-compose.override.yml
.docker/
.dockerignore

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
dist/
build/
