# Python
# top-level .gitignore
BACKEND/.env
BACKEND/.env.*
BACKEND/__pycache__/
BACKEND/*.pyc
BACKEND/.vscode/
BACKEND/.idea/


# Docker
*.pid
*.log
docker-compose.override.yml
.docker/
.dockerignore

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
dist/
build/
