<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>This Side Up | Skimboards</title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <!-- NAVBAR -->
  <header class="navbar">
    <div class="nav-left">
      <div class="logo">
        <img src="/static/logo/logo.jpg" class="logo-img" alt="This Side Up Logo">
      </div>
      <nav class="nav-links">
        <a href="/shop">Shop</a>
        <a href="/about">About</a>
        <a href="/community">Community</a>
      </nav>
    </div>

    <div class="nav-right">
      <button class="icon-btn">🔍</button>
      <button class="icon-btn" onclick="location.href='/cart'">🛒</button>
      <button class="icon-btn" onclick="location.href='/user'">👤</button>
    </div>
  </header>

  <!-- HERO -->
  <section class="hero">
    <div class="hero-text">
      <h1>Welcome to This Side Up</h1>
      <p>Dedicated to bringing the thrill of Skimboarding</p>
      <div class="hero-buttons">
        <button>OUR SKIMBOARDS</button>
        <button>BOARD BUYERS GUIDE</button>
      </div>
    </div>
  </section>

</body>

</html>
"""



</body>

</html>